<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Formulario</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Formulario de Persona</h1>
        
        <form th:object="${persona}" th:action="@{/personas/nueva}" method="post">
            <input type="hidden" th:field="*{id}">
            <label>Nombre:</label>
            <input type="text" th:field="*{nombre}"/>
            <br>
            <label>Edad:</label>
            <input type="number" th:field="*{edad}"/>
            <br>
            <button type="submit">Guardar</button>
        </form>
        <a href="/personas">Volver a la Lista</a>
    </body>
</html>
